path_to_NCAA: ~/Google Drive/NCAA/
repository_location: /s/Programming/NCAA_2016
data_building_files:
- data_building/builder_script.R
data_to_load:
  kaggle.submission.file: 2016_competition/data_2016_specific/kaggle_dataset/SampleSubmission.rds
  season.file: 2016_competition/data_2016_specific/kaggle_dataset/RegularSeasonDetailedResults.csv
  tourney.file: 2016_competition/data_2016_specific/kaggle_dataset/TourneyCompactResults.csv
features_to_add:
  Seed: 2016_competition/data_2016_specific/kaggle_dataset/TourneySeeds.rds
first.training.season: 2005.0
last.training.season: 2011.0
training_split: .3
model_files:
- modeling_scripts/analysis03142015.R
first.validation.season: 2010
last.validation.season: 2015
